html { 
    height: -webkit-fill-available;    
}
body {
    display: flex; 
    flex-direction: column;    
    justify-content: space-between;    
    min-height: 100vh;        
    min-height: -webkit-fill-available;    
    margin: 0px;    
    font-family: sans-serif;    
    background-color: #6a331c;    
}
#superior {
    display: flex;
    height: 8vmax;   
    justify-content: center;    
    align-items: center;    
    font-size: 4vmax;    
    color: rgb(0, 0, 0);    
    background-color: #f3b59c;     
}
.seccio {
    flex: 1;    
    display: none;    
}
#seccio_1 {
    display: flex;    
    justify-content: center;    
    align-items: center;    
    font-size: 4vmax;
    color: rgb(0, 0, 0);    
    background-color: #6a331c;   
}
#menu {
display: flex;    
height: 8vmax;
}
#menu i{
flex: 1;    /* cada botó pretén ocupar tot l'espai disponible */
display: flex;    /* contenidor flex on centrar-hi la icona */
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);
    #seccio_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
}
#credencials {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 3vmax;
    margin: 5vmin;
}
#credencials div {    /* els 2 <div> dins de credencials */
    margin-bottom: 1vmin;
}
#credencials input {    /* els 2 quadres de text dins de credencials */
    max-width: 20vmax;    /* es limita l'espai que ocupen els quadres de text */
    font-size: 3vmax;
}
#botons_sessio {
    display: flex;
    align-items: center;
}
#botons_sessio button {    /* els 2 botons dins de botons_sessio */
    font-size: 3vmax;
    padding: 2vmin;
    margin: 1vmin;
}
background-color: #f3b59c;
font-size: 5vmax;
cursor: pointer;
}
