html { 
    height: -webkit-fill-available;    
}
body {
    display: flex; 
    flex-direction: column;    
    justify-content: space-between;    
    min-height: 100vh;        
    min-height: -webkit-fill-available;    
    margin: 0px;    
    font-family: sans-serif;  
    color: rgb(0, 0, 0);
    background-color: #0400ff;    
}
#superior {
    display: flex;
    height: 8vmax;   
    justify-content: center;    
    align-items: center;    
    font-size: 4vmax;    
    color: rgb(0, 0, 0);    
    background-color: #0400ff;     
}
.seccio {
    flex: 1;    
    display: none;    
}
#seccio_1 {
    display: flex;    
    justify-content: center;    
    align-items: center;    
    font-size: 4vmax;
}
#menu {
display: flex;    
height: 8vmax;
}
#menu i{
flex: 1;    
display: flex;    
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);
background-color: #0400ff;
font-size: 5vmax;
cursor: pointer;
}
